transformers==4.40.0
tokenizers==0.19.1
accelerate
langchain==0.3.25
langchainhub==0.1.21
langchain-chroma==0.2.3
langchain_experimental==0.3.4
langchain-community==0.3.24
langchain_huggingface==0.2.0
python-dotenv==1.1.0
pypdf
streamlit==1.38.0
